*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.container{
  background-image:url(./img/image.png);
  height: 100vh;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-size: cover;

}
.nav-bar {
  width: 400;
  margin: auto;
  padding: 15px;
  display: flex;
  align-content:space-between;
  justify-content: space-between;
}
.logo{
  width: 140px;
  cursor: pointer;
  
}
.nav-bar ul li{
  display: inline-block;
  list-style: none;
  margin: 0 15px;

}
.nav-bar ul li a{
  text-decoration: none;
  color: #5f5f5f;
  font-size: 15px;
  width:400;
  padding-top:20px;
}
.audio {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 15PX;
}
.content{
  position: absolute;
  top: 30%;
  width:100%;
}
.left-col{
  margin-left: 6%;
}
.left-col h1{
  color: #ffffff;
  font-size: 90px;
  line-height: 110px;
}
.rigth-col{
  float: right;
  margin-right:6%;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.rigth-col p{
  color: #5f5f5f;
  font-size:18px;
  font-weight:bold;
}
#icon{
  width:80px;
  cursor: pointer;
}
.nav-bar ul li a:hover{
  color:#ffffff;
}
.routine{
  display: flex;
  position:relative;
  float:left;
}
